@import 'src/assets/scss/mixins.scss';

:host {
  @include _flex-col;
}

.home {
  @include _flex-col;

  &__container {
    @include _flex-col;
  }

  &__item {
    display: flex;
    margin-bottom: 16px;
  }

  &__text {
    display: block;
  }

  &__category {
    margin-right: 8px;
  }
}
